@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');


.Bruno-Ace-SC{
  font-family: 'Bruno Ace SC', sans-serif;
}
.fs-128 {
  font-size: 128px;
}
.fs-64 {
  font-size: 64px;
}
.fs-24 {
  font-size: 24px;
}
.fs-20 {
  font-size: 20px;
}
.text-white {
  color: white;
}
.text-green {
  color: #00FFA3;
}
.test {
  outline: solid 1px red;
}