/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:befor, *:after {
  box-sizing: border-box;
}

.Bruno-Ace-SC {
  font-family: "Bruno Ace SC", sans-serif;
}

.fs-128 {
  font-size: 128px;
}

.fs-64 {
  font-size: 64px;
}

.fs-24 {
  font-size: 24px;
}

.fs-20 {
  font-size: 20px;
}

.text-white {
  color: white;
}

.text-green {
  color: #00FFA3;
}

.test {
  outline: solid 1px red;
}

.bg-dark {
  background: #000;
}

.bg-introduction {
  background: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week2/background-img.png);
}

body {
  font-family: "Bruno Ace SC", sans-serif;
  line-height: 1.5;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.test {
  border: 1px solid red;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.f-wrap {
  flex-wrap: wrap;
}

.tac {
  text-align: center;
}

.tae {
  text-align: end;
}

.jcc {
  justify-content: center;
}

.jcsa {
  justify-content: space-around;
}

.jcsb {
  justify-content: space-between;
}

.aic {
  align-items: center;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

.navbar ul {
  padding: 40px 0 24px;
}
.navbar ul li {
  width: 25%;
}

.header {
  padding: 72px 312px;
}
.header .header-right {
  padding: 160px 0 160px 24px;
}
.header .header-right button {
  background: white;
  display: block;
  margin-left: auto;
  padding: 12px 24px;
  border: 0;
  border-radius: 32px;
  width: 185px;
}
.header .header-right button img {
  display: inline;
  vertical-align: middle;
}

.introduction {
  padding: 160px 312px;
}
.introduction .introduction-left {
  max-width: 526px;
  margin-right: 24px;
}
.introduction .introduction-left p {
  padding: 36px 0 32px;
}
.introduction .introduction-right {
  max-width: 746px;
}

.about {
  padding: 160px 312px;
}
.about .card {
  max-width: 640px;
}
.about .card ul {
  flex-wrap: wrap;
}
.about .card ul li {
  max-width: 302px;
}
.about .card ul li h3 {
  padding: 16px 16px 4px;
}
.about .card ul li p {
  padding: 4px 16px 16px;
}
.about .about-me {
  max-width: 526px;
}
.about .about-me h2 {
  margin-bottom: 32px;
}

.contact {
  padding: 96px 312px;
  background: #000;
}
.contact img {
  display: inline;
  width: 100px;
  margin-left: 16px;
}
.contact .contact-img {
  width: 526px;
}
.contact .contact-img img {
  display: block;
  width: 162px;
  margin: 0;
}
.contact .contact-img img:hover {
  filter: drop-shadow(0 0 12px rgba(144, 148, 255, 0.9));
}

.projects {
  padding: 160px 312px;
}
.projects h2 {
  padding-left: 550px;
}
.projects .projects-content-left {
  margin-right: 24px;
}
.projects .projects-content-right-top img {
  margin-right: 24px;
  margin-bottom: 24px;
}
.projects .projects-content-right-top button {
  background: #000;
  margin-top: 76px;
  padding: 12px 24px;
  border: 0;
  border-radius: 32px;
  width: 185px;
}
.projects .projects-content-right-top button img {
  display: inline;
  margin: 0;
}

.footer {
  padding: 40px 0;
  background: #000;
}/*# sourceMappingURL=all.css.map */